@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Target the specific component's typography class */
.MuiStack-root::before,
.css-1d9cypr-MuiStack-root::before {
  content: 'BeyondOTC'; /* Your new text */
  font-size: inherit; /* Ensure the font size matches */
  color: white; /* Inherit the color */
  background-color: aquamarine;
}

/* .MuiStack-root,
.css-1d9cypr-MuiStack-root {
  visibility: hidden;
} */
